<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <div th:insert="~{fragments/script-styleFragment.html}"></div>
</head>
<body>
<div th:replace="~{fragments/headerFragment :: header}"></div>
    <section class="min-vh-100">

        <div class="my-5">

            <h1 class=" my-5 ms-3">Bienvenue sur votre application d'annonces local </h1>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="mx-5" th:text="${#authentication.getPrincipal()}"></div>
                <a   th:href="@{/annonces/list}"><button  class="px-2 ms-5 btn btn-outline-success">Liste des annonces</button></a>
            </div>
        </div>


        <div th:if="${#authorization.expression('isAuthenticated()')}">

            <h2 class="my-5 ms-3">Déconnexion avec confirmation (avec methode GET) </h2>

            <a class="mx-5" th:href="@{/logout}">
                <button class="px-2">
                    Me déconnecter
                </button>
            </a>


            <br>
            <h2 class="my-5 ms-3"> Deconnexion sans confirmation (avec methode POST)</h2>

            <form th:action="@{/logout-processing}" method="post">
                <!--mise en place du token de sécurité  (permet de vérifié que la personne qui soumet le formulaire (POST) et bien celle qui en a fait la demande (GET))     -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <!--  Les champs du formulaire      -->

                <button class="mx-5 px-2" type="submit">Me déconnecter !</button>
            </form>

            <br>
            <h2 class="my-5 ms-3"> Accès espace Administrateur </h2>

            <a sec:authorize="hasAuthority('Admin')"  th:href="@{/admin}"><button  class="px-2 ms-5">Acces admin</button></a>

        </div>


    </section>
<div th:insert="~{fragments/footerFragment.html}"></div>
</body>
</html>